#parent {
	position: absolute;
	height: 100%;
	width: 50%;
	left: 25%;

	background-color: #FFFFFF;
	word-wrap : break-word;
	word-break: break-all;

	border-top: 3px;
	border-style: outset;
	word-wrap: break-word;
	font-size: x-large;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
}

#test {
	border-top: 3px solid #FFF;
	border-left: 3px solid #FFF;
	border-right: 3px solid #DDD;
	border-bottom: 3px solid #DDD;
}
